span {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: 30px;

}


button {
    width: 48%;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
}


.container {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    height: 50px;
    ;
}